<div class="row">         
  <div class="dt-sc-overlay-section dt-sc-column">
  {% comment %} {{ page.content }}
  {% section 'inner-page-content-with-image-section-about-us' %} {% endcomment %}

  <img src="https://www.adslzone.net/app/uploads-adslzone.net/2019/04/borrar-fondo-imagen-1200x675.jpg" alt="Girl in a jacket" width="500" height="600" class="thumbnail"> 

  <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>
  
  <script>
    var image = document.getElementsByClassName('thumbnail');
    new simpleParallax(image);
  </script>




  </div>
</div>
 




