<div class="row">         
  <div class="dt-sc-overlay-section dt-sc-column">
  {{ page.content }}
  {% section 'nuestros-vinos-video-banner' %}
  {% section 'nuestros-vinos-custom-section' %} 
  {% section 'nuestros-vinos-custom-section-2' %} 
  {% section 'nuestros-vinos-custom-section-3' %} {% comment %} Vivendo Reserva {% endcomment %}
  {% section 'nuestros-vinos-custom-section-4' %} {% comment %} Petit Inédito {% endcomment %}  
  {% section 'nuestros-vinos-video-banner-2' %}
  {% section 'nuestros-vinos-custom-section-6' %} {% comment %} Gran Reserva {% endcomment %}  
  {% section 'nuestros-vinos-custom-section-7' %} {% comment %} Ícono y Premium {% endcomment %}  
  {% section 'nuestros-vinos-custom-section-8' %} {% comment %} Dulces y Espumosos {% endcomment %}  


  </div>
</div>