<div class="row">         
  <div class="dt-sc-overlay-section dt-sc-column">
    {{ page.content }}
    {% section 'inner-page-content-with-image-section-terroir' %}
  </div>
</div>

{% comment %} 
{% section 'inner-page-image-with-icon-section' %}
{% section 'inner-page-image-with-icon-section-type-2' %}
{% section 'inner-page-info-box-section' %} {% endcomment %}
