<div class="row">         
  <div class="dt-sc-overlay-section dt-sc-column">
  {{ page.content }}
  {% section 'about-video-banner-top' %} 
  {% section 'about-custom-section' %} 
  {% section 'about-video-banner' %} 
  {% section 'about-custom-section-2' %}
  {% section 'about-custom-section-3' %}
  {% section 'about-video-banner-2' %} 


  </div>
</div>





