<div class="row">         
  <div class="dt-sc-overlay-section dt-sc-column">
    {{ page.content }}
    {% section 'terroir-video-banner' %}
    {% section 'terroir-custom-section' %}
    
   
    {% section 'terroir-video-banner-2' %}
    {% section 'terroir-custom-section-3' %}
</div>

