<div class="row">         
  <div class="dt-sc-overlay-section dt-sc-column">
    {{ page.content }}
    {% section 'inner-page-content-with-image-section' %}
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>


{% comment %} 
{% section 'inner-page-image-with-icon-section' %}
{% section 'inner-page-image-with-icon-section-type-2' %}
{% section 'inner-page-info-box-section' %} {% endcomment %}
