<div class="row">         
  <div class="dt-sc-overlay-section dt-sc-column">
  {{ page.content }}
  {% section 'nv-inedito-limited-custom-section' %} 
  {% section 'nv-inedito-limited-custom-section-2' %} 
  </div>
</div>