<div class="row">         
  <div class="dt-sc-overlay-section dt-sc-column">
    {{ page.content }}
  </div>
</div>
 
{% comment %} {% section 'inner-page-masonary-overlay-section' %}      {% endcomment %}
{% comment %} {% section 'inner-page-list-with-image-section' %} {% endcomment %}
{% section 'inner-page-content-with-image-section' %}

{% comment %} {% section 'inner-page-brand-logos' %} {% endcomment %}